@mixin background-retina($path, $ext: "jpg", $w: auto, $h: auto, $pos: left top, $repeat: no-repeat) {

  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";
  $at3x_path: "#{$path}@3x.#{$ext}";

  $gradientoverlay: linear-gradient(180deg, rgba(0,0,0,.15), rgba(0,0,0,.55) 33%, rgba(0,0,0,.75));
 
  background-image: $gradientoverlay, url("#{$at1x_path}");
  background-size: cover;
  background-position: $pos;
  background-repeat: $repeat;
 
  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
    background-image: $gradientoverlay, url("#{$at2x_path}"); 
  }

  @media all and (-webkit-min-device-pixel-ratio : 3.0),
  all and (-o-min-device-pixel-ratio: 3/1),
  all and (min--moz-device-pixel-ratio: 3.0),
  all and (min-device-pixel-ratio: 3.0) {
    background-image: $gradientoverlay, url("#{$at3x_path}"); 
  }

}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

// Custom devices. Specify any size in parameter, upon calling
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
      @content;
  }
}