@import "_breakpoints.scss";
@import "_mixins.scss";
@import "theme.css";
@import "general.css";
@import "components/index.css";

.chatwindow {
    display: flex;
    flex-direction: column;
    background-color: #202224;
    height: calc(100vh - 170px);
    padding: 17px 7px;
    border-radius: 10px;
    @include md {
        height: calc(100vh - 125px);
        padding: 20px;
    }
}

.messages {
    padding: 0; 
    overflow-y: auto;
    overflow-x: hidden;
    // @include md {
    //     padding: 0 20px; 
    // }
    .message {
        color: #acacac;
        margin: 30px 10px;
        &:first-child {
            margin-top: 0;
        }        
        .who {
            font-weight: bold;
            color: #d5d5d5;
            font-size: 13px;
        }
    }
}

.chatbox {
    background-color: green;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;    
    padding: 15px; 
    background-color: #2a2c31;
    border-radius: 10px;
    @include md {
        padding: 20px; 
        margin-left: 15px;
        margin-right: 15px;
    }
    textarea {
        width: 100%;
        padding: 0px;
        border: none;
        border-radius: 5px;
        background-color: #2a2c31;
        color: #fff;
        // border: 1px solid red;
        height: 70px;
        resize: none;
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        @include md {
            padding: 10px;            
        }
        &:focus {
            outline: none;
        }
    }
    button {
        background-color: var(--indigo);
        color: #fff;
        border: none;
        padding: 10px 35px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        @include md {
            font-size: 16px;
            padding: 5px 20px;
        }
        &:hover {
            filter: brightness(0.9);
        }
    }
    .processing {
        background-color: #4a4a4a;
        cursor: not-allowed;
    }    
}

.nav-bar__brand {
    font-size: 32px;
}

.mobile-nav-bar__brand {
    font-size: 24px;
}

.nav-bar {
    margin: 0 36px;
    max-width: 1130px;

}

.mobile-nav-bar__container, .nav-bar__container {
    background-color: rgb(19, 19, 19);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.messages::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.messages {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.herotext {
    font-size: 18px;
    margin: 16px 16px 16px 16px;
    @include md {
        margin: 35px 60px;
    }
}

.mobileonly {
    display: flex;
    @include rwd(641) {
        display: none;
    }
}